h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6d63f0;
}

nav li {
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

#category_options {
    display: inline-flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
    border-radius: 8px
  }

#recipe_image {
    flex: 0 1 auto;
    height:auto;
    margin-right: 0.5rem;
    cursor: pointer;
}

#recipe_image h3 {
    
}



/*







*/