h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #85b9ca;
    text-align: center;
}

nav li {

    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
}

/* is our image container */ 
#category_options {
    display:grid;     
    overflow-x: auto;
    margin: 30px;
    max-width: calc(100vw - 2rem);
    height: fit-content;

    text-align: center;



  }


#category_options img {
    grid-row: 1;
    display: inline-flex;
    flex: 0 1 auto;

    margin-right: 10px; 
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10px; 
    border-width: 30px;
    width: 250px;
    
}

.active, .img-active:hover{
    border-color: black;
}


h2 {
    grid-row: 2;
    font-size: medium;
}

/*this adjusts our image*/ 
#image-container {
    display: table;
    padding: 10px;
   
}




/*
display: inline-flex;

#image-container {
    display: table;
}

#recipe-li {
    display: table-caption;
    caption-side: bottom;
}




*/